@use 'variaveis';

.hero {
    
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/hero/vingadores.jpg);
    text-align: center;
    background-size: cover;

    @media screen and (max-width: 768px) {
        background-size: cover;
        background-image:none;
        margin-bottom: 0;
    }
    
    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 630px;
        padding-top: 120px;
        
        @media screen and (max-width: 768px) {
            max-width: 520px;
            width: 100%;
            padding-top: 0px;
            
        }

        &__branding {
            max-width: 600px;
            margin: 0 auto;

            @media screen and (max-width: 768px) {
                max-width: 360px;
            }

            img {
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }

        h3 {
            letter-spacing: 8px;
            text-decoration: underline;
        }

        &__titles {
            margin-left: 20px;
            color: variaveis.$corTextPrincipal;
            list-style: none;
            @media screen and (max-width: 768px) {
                margin-left: 0;
        }
            }

            &__title {
                margin-left: 25px;

                @media screen and (max-width: 768px) {
                    display: block;
                    max-width: 40px;
                    width: 100%;
                    font-size: 10px;
            }
        }            
    }
}