@use 'hero';
@use 'variaveis';
@use 'films';
@use 'viloes';
@use 'footer';
@use 'header';

@font-face {
    font-family: Promethean;
    src: url(../../assets/font/Prometheansuperital.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Promethean, sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 11px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
}

.text--normal {
    @include text(18px);
}

.text {
    @include text;
}

.title--normal {
    @include title(35px);
    color: variaveis.$corTextPrincipal;
}

.title {
    @include title;
}

.button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextPrincipal;
    background-color: variaveis.$corDeFundo;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corTextPrincipal;

    &--dark {
        background-color: (variaveis.$corBotaoDark, 0.8);

        &:hover {
            background-color: variaveis.$corTextPrincipal;
            color: variaveis.$corDeFundo;
        }
    }
}